In [1]:
import sqlite3
con = sqlite3.connect(':memory:')

In [2]:
cur = con.cursor()
cur.execute('''CREATE TABLE countries
               (name text, gdp real, population real)''')

In [3]:
cur.execute("INSERT INTO countries VALUES ('United States',19.485,325.085)")
con.commit()

In [4]:
cur.execute("INSERT INTO countries VALUES ('China',12.238,1421.022)")
cur.execute("INSERT INTO countries VALUES ('Japan',4.872,127.503)")
con.commit()

In [5]:
cur.execute("SELECT * FROM countries WHERE gdp > 5;")
print(cur.fetchall())

[('United States', 19.485, 325.085), ('China', 12.238, 1421.022)]

In [6]:
cur.execute('''CREATE TABLE growth
               (name text, gdp_growth real)''')
cur.execute("INSERT INTO growth VALUES ('United States',2.27)")
cur.execute("INSERT INTO growth VALUES ('China',6.9)")
cur.execute("INSERT INTO growth VALUES ('Japan',1.71)")
con.commit()

In [19]:
cur.execute("SELECT AVG(gdp), SUM(gdp), COUNT(gdp) FROM countries WHERE gdp > 5")
print(cur.fetchall())
print([description[0] for description in cur.description])

[(15.8615, 31.723, 2)]
['AVG(gdp)', 'SUM(gdp)', 'COUNT(gdp)']